.kf-item-menu {
    transition-timing-function: ease;
    transition: opacity 0.2s;
    opacity: 0;
}

.kf-item-container:hover .kf-item-menu {
    // display: inline;
    opacity: 1;
}

.kf-drag-bar-right {
    opacity: 0;
    fill:transparent;
    fill: #5c7db3;
}

.kf-drag-bar-right:hover {
    opacity: 1;
    cursor: col-resize;
}

.kf-drag-bar-left {
    opacity: 0;
    fill:#FFBD89
    // fill: #b78966;
}

.kf-drag-bar-left:hover {
    opacity: 1;
    cursor: col-resize;
}

.kf-length-guide-bg {
    fill: grey;
    opacity: 0.8;
    rx: 3px;
}

.kf-length-guide {
    fill: white;
    text-anchor: end;
}

.kf-delay-length-guide {
    fill: white;
    text-anchor: start;
}

.kf-button {
    fill: rgb(163, 163, 163);
}

.kf-button:hover {
    fill: #CCC;
}

.kf-label-btn-container {
    transition-timing-function: ease;
    transition: opacity 0.2s;
    opacity: 0;
    // display: none;
}

.kf-label-container:hover .kf-label-btn-container {
    // display: inline;
    opacity: 1;
}

.kf-label-btn-background {
    x: 5px;
    y: 2px;
    height: 16px;
    width: 25px;
    rx: 5px;
    fill: #676767;
}

.kf-label-btn-container:hover .kf-button {
    fill: #CCC;
}

.kf-order-button {
    rect {
        opacity: 0;
    }

    path,
    text {
        fill: rgb(163, 163, 163);
    }
}

.kf-order-button:hover, .kf-active-order-button {
    rect {
        opacity: 1;
        fill: #CCC;
    }

    path,
    text {
        fill: #676767;
    }
}