::-webkit-scrollbar {
	width: 6px;
	margin-right: 2px;
}

::-webkit-scrollbar:horizontal {
	height: 8px;
	margin-bottom: 2px;
}

::-webkit-scrollbar-track {
	border-radius: 8px;
}

::-webkit-scrollbar-track-piece {
	background-color: #cdcdcd;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	width: 4px;
	border-radius: 3px;
	// background: #8f8f8f;
	background: var(--gray3);
	margin-right: 3px;
	// box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
