.selection-rect {
    stroke: skyblue;
    fill: skyblue;
    fill-opacity: 0.2;
}
.highlight {
    stroke: #1a73e8;
    stroke-width: 3;
  }
.highlight-text {
    stroke: #1a73e8;
    stroke-width: 2;
}

